<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    {{/* To get build to work, just remove either the CSS here or module mount in config.toml and the reference below (*/}}

    {{- $lazysizes := resources.Get "npmplugins/lazysizes/lazysizes.js" -}}
    <script async src="{{ $lazysizes.RelPermalink }}"></script>
    
    
    </head>
    <body>
        <main>
            {{- block "main" . }}{{- end }}
        </main>
    </body>
</html>
